<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633590967781-75prms5ua2t7g5mtm3tdgc3n9v3oafgm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633590967781-75prms5ua2t7g5mtm3tdgc3n9v3oafgm</string>
	<key>API_KEY</key>
	<string>AIzaSyBFX-DJBQ20CWsTKgoXpfFzAX5dAui4tEI</string>
	<key>GCM_SENDER_ID</key>
	<string>633590967781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fbAuthProvider</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-1c99d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-1c99d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633590967781:ios:c26b6f402018c3f2aad30c</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-chat-app-1c99d.firebaseio.com</string>
</dict>
</plist>